<html>
	<head>
		<title>Strava Commute Stats</title>
		<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.css">
		<script src="https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
		<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
		<script src="https://www.amcharts.com/lib/3/serial.js"></script>
		<script src="js/stravaCommutes.js"></script>
		<script src="js/amChartsDirective.js"></script>
		<link rel="stylesheet" href="foundation-icons/foundation-icons.css" />
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body ng-app="stravaCommutes" ng-controller="MainCtrl">
	
		<div class="title-bar top">
			<div class="title-bar-left">
				<a href="index.html" target="_self"><h4 class="title-bar-title">12 Months of Strava</h4></a>
			</div>
			<div class="title-bar-right">
				<div class="user">
					<img class="titlebarpic" ng-src="{{userdata.profile_medium}}" alt="profile pic">
					<i class="fi-torso"></i>
					<span>{{userdata.firstname}} {{userdata.lastname}}</span>
				</div>
			</div>
		</div>
		
		<div class="row toprow">
			<div class="column small-5">
				<button class="alert button" type="button" ng-click="backButton()" ng-class="{'hollow': !mouseover}" ng-init="mouseover = false" ng-mouseenter="mouseover = true" ng-mouseleave="mouseover = false">< Back</button>
			</div>
			<div class="column small-4 end">
				<h3 id="commuteTitle">Commute Stats</h3>
			</div>
			<hr>
		</div>
		
		<div class="row commutes">
			<h5>Commutes this month</h5>
				<div class="commuteTable">
				<table class="hover">
					<thead>
						<tr>
							<th>Name</th>
							<th>Date</th>
							<th>Distance (miles)</th>
							<th>Speed (mph)</th>
							<th>Elevation (m)</th>
						</tr>
					</thead>
					<tbody>
						<tr class="commute" ng-repeat="ride in monthCommutes">
							<td>{{ride.name}}</td>
							<td>{{ride.start_date | date: 'HH:mm dd/MM/yyyy'}}</td>
							<td>{{miles(ride.distance)}}</td>
							<td>{{mph(ride.average_speed)}}</td>
							<td>{{ride.total_elevation_gain}}</td>
							
						</tr>
					</tbody>
				</table>
				</div>
				<hr>
		</div>
		
		<div class="row">
			<h5>Commutes per month</h5>
			<am-chart id="commuteCountChart" class="chart" options="commuteCountChartOptions" ></am-chart>
			<hr>
		</div>
		
		<div class="row">
			<h5>Commutes speed per month</h5>
			<am-chart id="commuteSpeedChart" class="chart" options="commuteSpeedChartOptions" ></am-chart>
			<hr>
		</div>
		<div class="row">
			<h5>Commutes distance per month</h5>
			<am-chart id="commuteDistanceChart" class="chart" options="commuteDistanceChartOptions" ></am-chart>
			<hr>
		</div>
		
		
		<footer class="footer">
			<div class="title-bar">
				<div class="title-bar-left">
					<div class="container-footer">
						<a href="http://labs.strava.com/" id="powered_by_strava" rel="nofollow">
							<img class="poweredimg" src="img/api_logo_pwrdBy_strava_stack_light.png" alt="Powered By Strava" width="116" height="50" />
						</a>
					<div>
				</div>

			</div>
		</footer>
	</body>
</html>
