<html>
	<head>
		<title>12 Months of Strava Home</title>
		<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.css">
		<script src="https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
		<script src="js/stravaHome.js"></script>
		<link rel="stylesheet" href="foundation-icons/foundation-icons.css" />
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body ng-app="stravaHome" ng-controller="MainCtrl">
	
		<div class="title-bar top">
			<div class="title-bar-left">
				<a href="index.html" target="_self"><h4 class="title-bar-title">12 Months of Strava</h4></a>
			</div>
			<div class="title-bar-right">
				<div class="user">
					<i class="fi-torso"></i>
					<span>{{userdata.firstname}} {{userdata.lastname}}</span>
				</div>
			</div>
		</div>
		
		<div class="callout alert">
			<div class="row" ng-show="userdata.firstname">
				<div class="small-1 column small-offset-4">
					<img class="profilepic" ng-src="{{userdata.profile}}" alt="profile pic">
				</div>
				<div class="small-4 column end">
					<h3 class="name">{{userdata.firstname}} {{userdata.lastname}}</h3>
					<span><strong>{{userdata.city}}, {{userdata.state}}, {{userdata.country}}</strong></span>
				</div>
			</div>
		</div>
		
		<div class="row titlePanel">
			<div class="medium-7 medium-offset-3 small-offset-3 columns">
				<h4>What Stats are you interested in?</h4>
				<hr>
			</div>
		</div>
		
		<div class="row buttonPanel">
			<div class="medium-4 medium-offset-3 small-offset-3 columns">
				<button ng-click="commutePage()" class="callout pageButtons" ng-class="{'alert': mouseover}" ng-init="mouseover = false" ng-mouseenter="mouseover = true" ng-mouseleave="mouseover = false">
					<h5 class="buttonTitle">Commute Stats ></h5>
					<p ng-show="mouseover" class="button-info">Data visualisations based on your commutes</p>
				</button>
			</div>
			<div class="medium-4 columns end">
				<button ng-click="clubPage()" class="callout pageButtons" ng-class="{'alert': mouseover2}" ng-init="mouseover2 = false" ng-mouseenter="mouseover2 = true" ng-mouseleave="mouseover2 = false">
					<h5 class="buttonTitle">Club Ride Stats ></h5>
					<p ng-show="mouseover2" class="button-info">Data visualisations based on your Club rides</p>
				</button>
			</div>
		</div>
		
		<div class="row buttonPanel">
			<div class="medium-4 medium-offset-3 small-offset-3 columns">
				<button ng-click="overallPage()" class="callout pageButtons" ng-class="{'alert': mouseover3}" ng-init="mouseover3 = false" ng-mouseenter="mouseover3 = true" ng-mouseleave="mouseover3 = false">
					<h5 class="buttonTitle">Overall Stats ></h5>
					<p ng-show="mouseover3" class="button-info">Data visualisations based on all your rides</p>
				</button>
			</div>
			<div class="medium-4 columns end">
				<button class="callout pageButtons" ng-class="{'alert': mouseover4}" ng-init="mouseover4 = false" ng-mouseenter="mouseover4 = true" ng-mouseleave="mouseover4 = false">
					<h5 class="buttonTitle">About ></h5>
					<p ng-show="mouseover4" class="button-info">About this App  - UNDER CONSTRUCTION</p>
				</button>
			</div>
		</div>
	
	
		<footer class="footer">
			<div class="title-bar">
				<div class="title-bar-left">
					<div class="container-footer">
						<a href="http://labs.strava.com/" id="powered_by_strava" rel="nofollow">
							<img class="poweredimg" src="img/api_logo_pwrdBy_strava_stack_light.png" alt="Powered By Strava" width="116" height="50" />
						</a>
					<div>
				</div>

			</div>
		</footer>
	</body>
</html>